site_name: Immunify Documentation
site_url: https://docs.immunify.online/

theme:
  name: material
  language: en
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy

plugins:
  - search
  - i18n:
      docs_structure: folder
      reconfigure_material: false
      languages:
        - locale: en
          name: English
          default: true
          build: true
        - locale: ar
          name: العربية
          build: true
        - locale: ku
          name: کوردی (سۆرانی)
          build: true

nav:
  - Home: index.md
