site_name: Immunify Documentation
site_url: https://docs.immunify.online/

theme:
  name: material
  language: en
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy

plugins:
  - search
  - i18n:
      docs_structure: folder
      languages:
        - locale: en
          name: English
          default: true
          build: true
        - locale: ar
          name: العربية
          build: true
          nav_translations:
            Home: الرئيسية
        - locale: ku
          name: کوردی (سۆرانی)
          build: true
          nav_translations:
            Home: سەرەکی
      reconfigure_material: true

nav:
  - Home: index.md

extra:
  generator: false

markdown_extensions:
  - admonition
  - footnotes
  - tables
  - toc:
      permalink: true
